<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.G3Tech.PileDriver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PileDriver"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".manageSurvReports"></activity>
        <activity android:name=".manageCorrReports" />
        <activity android:name=".organizeReports" />
        <activity android:name=".organizeFiles" />
        <activity android:name=".downloadReports" />
        <activity android:name=".BlueForceArea" />
        <activity android:name=".SurvDetection" />
        <activity android:name=".HS2_0Mode" />
        <activity android:name=".surveyReportArea" />
        <activity android:name=".stop_collection" />
        <activity android:name=".CollectionArea" />
        <activity android:name=".Correlation_AreaTool" />
        <activity android:name=".Collect_SurveryTool" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".browserActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>